html, body {
  overflow: hidden;
}

.slide {
  width: 100svi; 
  height: 100svb;
  display: grid;
  place-content: center;
  padding: var(--wa-space-2xl);
  position: relative;
}

.slide * {
  text-align: center;
  max-height: calc(100svb - 2 * var(--wa-space-2xl));
  max-width: calc(100svi - 2 * var(--wa-space-2xl));
}

.slide pre,
.slide pre code,
.slide ul,
.slide ol,
.slide li {
  text-align: start;
}

.slide a[title="source"] {
  color: inherit;
  font-size: var(--wa-font-size-smaller);;
  place-self: end;
  position: absolute;
  inset: auto auto var(--wa-space-2xl) var(--wa-space-2xl);
}

.slide p img {
  max-width: 100%;
}

.slide table img {
  width: 100%;
  max-width: 24ch;
}