.slide p img {
  max-width: 100%;
  display: block;
  margin-block-end: .5em;
}

.slide p:has(img) {
  color: var(--wa-color-text-quiet);
  font-size: var(--wa-font-size-xs);
}

.slide table img {
  width: 100%;
  max-width: 24ch;
}