/* https://css-tricks.com/the-hidden-attribute-is-visibly-weak/ */
[hidden] { 
  display: none !important;
}

.slide {
  min-height: 100svb;
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide > *  {
  max-width: 90svmin; 
}

