<!DOCTYPE html>
<html lang="en" class="wa-{{page.theme}}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ page.title }} | {{ site.title }}</title>

    <!-- Web Awesome -->
    <link rel="stylesheet" href="https://ka-f.webawesome.com/webawesome@3.5.0/styles/webawesome.css">
    <script type="module" src="https://ka-f.webawesome.com/webawesome@3.5.0/webawesome.loader.js"></script>

    <link rel="stylesheet" href="/assets/css/slides.css" />
    <script src="/assets/js/slides.js" defer></script>
  </head>
  <body>
    <header>
      <nav hidden>
        <div class="wa-cluster wa-gap-2xs">
          <wa-button size="small" variant="neutral" appearance="plain" onclick="prevSlide()"><wa-icon name="chevron-left" label="Previous Slide"></wa-icon></wa-button>
          <wa-button size="small" variant="neutral" appearance="plain" onclick="nextSlide()"><wa-icon name="chevron-right" label="Next Slide"></wa-icon></wa-button>
        </div>
      </nav>
    </header>
    <main hidden>
      {{ page.content | markdownify }}
    </main>
  </body>
</html>