<!DOCTYPE html>
<html lang="en" class="wa-{{page.theme}}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ page.title }} | {{ site.title }}</title>

    <!-- Web Awesome -->
    <link rel="stylesheet" href="https://ka-f.webawesome.com/webawesome@3.5.0/styles/webawesome.css">
    <script type="module" src="https://ka-f.webawesome.com/webawesome@3.5.0/webawesome.loader.js"></script>
    
    <!-- Custom -->
    <link rel="stylesheet" href="/assets/css/app.css" />
    <script type="module" src="/assets/js/app.js"></script>

    <!-- p5 -->
    <script src="https://cdn.jsdelivr.net/npm/p5@1.11.13/lib/p5.min.js" defer></script>
    <script src="/assets/js/sketch.js" defer></script>
    

    <!-- Make all links to open in new tab -->
    <base target="_blank">
  </head>
  <body>
    <header>
      <nav>
        <div class="wa-cluster">
          <wa-button id="button-prev" size="small" variant="neutral" appearance="plain">
            <wa-icon name="chevron-left" label="Previous Slide"></wa-icon>
          </wa-button>
          <wa-button id="button-next" size="small" variant="neutral" appearance="plain">
            <wa-icon name="chevron-right" label="Next Slide"></wa-icon>
          </wa-button>
        </div>
      </nav>
    </header>
    <main hidden>
      {{ page.content | markdownify }}
    </main>
  </body>
</html>